$blue: #0575e6;
$infiniteBlue:#3498db;
$lighBlue : #548cc5; 
$liColor: #748494;
$white: #ffff;
$gray: #a3a3a3;
$borderBtnColor:#cacaca;
$sombreGray: #7a7a7a;
$grayTxt:#5e5d6c;
$lightGray:#cccccc;
$black:#000;
$dotColor:#cbecfb;
$logoColor: #39374d;
$lightBlue: #f5fbfc;
$graysocialIcon:#c4c4c4;
$Onbtn:#748494;
$ofbtn: #39374d;
$copyWriteColor: #e2e7ea;
$skillBarColor: #eeeeee;
$sliderTextDesc: #9da399;