.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 7px;
    background-color: $dotColor;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slick-dots li button {
    cursor: pointer !important;
    height: 6px !important;
    width: 6px !important;
    margin-bottom: 2rem !important;
    margin: 0 7px !important;
    background-color: $blue !important;
    border-radius: 50% !important;
    display: inline-block !important;
    transition: background-color 0.6s ease !important;
    opacity: 0.4 !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;
}

.slick-dots li button:before {

    color: transparent !important;
    opacity: 0.4 !important;
}