/* Wrapper */

.wrapper {
  padding: 5rem 0 5rem 0;
    position: relative;
    z-index: 1;

    .special{
    text-align: center;
    margin-bottom: 4rem; 
    }
    h2{
        font-family: futura-pt, sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: $black;
        margin: 2rem 0;
    }

}

.wrapper-min{
  padding: 2rem 0 2rem 0;
}
@media screen and (max-width: 1280px) {
    .wrapper {
      padding: 2rem 0 3rem 0 ; 
    } 
} 
 
    @media screen and (max-width: 736px) {
    .wrapper {
      padding: 2rem 0 3rem 0 ; }
    }

  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; } 
    }